language: python
services:
- docker
env:
  global:
  - PATH=$HOME/.local/bin:$PATH
  - BUCKET_NAME=glimpsefiles
  - TEST_FUNCTION_DIR=test/function
  - TEST_FUNCTION_NAME=glimpseTest
  - RUN_FUNCTION_DIR=run/function
  - RUN_FUNCTION_NAME=glimpseRun
  - LOGGING_KEY=LogDNAIngestionKey
  - AWS_DEFAULT_REGION=us-east-1
  - secure: Dok2tF+F3ueSTYgY0fXRN4Ei5ulRt2xgTYwo1bYghbA6pNmmQ8rgJMMERJUClZ55ZYTVuib+m/SroU2F/OWNl7tHN5wxag9OMpm/MsGfVS4iYfAonjPdamzIqG0VPFpmzhDNp2NvUki47eAkolcvYdHZ4qq4mmt1xjnWtGYwE31DL5yT3P0jNyHQWfB/xaN/FhMJl4TwYAZmrQJVKJ+eYzATCIfPl6TeGKy8nLXLkLWPpS2erAIL+wcAHG81MpEcNZ4BjL4h7xAhfr0kB7hHmcrpRQ7HgkfW1QJH2Ka3HTJ1k/mFIOIkaYhWlGIhCvjRMvAUwVoG3q3jOapcPrb4EaQH6H0KlBsqmsrwLupuoAqmJXlTCIA6KVAA32BRQ4d1FNUOgzr53DO93QPIPLBrh6pilNZ++AQQtymyV2HgqroovgQCcnBFksTx5x3RLlC1B8IS3zbGXrSM+FLnMAwC7uD9GZAmoh8FhNAvDEzO7bgX9cxF40R3X/lvQe5frK2PGxKyh/8GsO4lvCkJQVkMWDqMXNYgkcYUv+k03LZxLSrDwKuupFuXyop02P+ACMdPP2UsGUxjHXKI3PgKDrl+CYtutzJw1KH+YnTL7+RfEnhX5kwcGn6+LM4daFd5DstI20Jz7elsP5WytLiq8GpRkdgwof3kCsacMoFbO8y/GU0=
  - secure: AoAl26yd5z/VDMfosvX+NBvKmkOa2PQBoYxdLxPWEUBkLReyRae7exCv80U078oqAglimpuOXbWIv0OpMklbHqJzPntkUYmXZSncTWr34XB9XYpceF3pUmFJ+sCT7XNLzaPguq7W8ykYoG767h5aPVYDm6TWN8AqFvbwGLiU/Q4JOrN6YHC8h6r2Vdyy1S5pAkqKD9FctnmYksV8lIImqXG38bWKFPW25f+d5rSgjiCeekn4lnXfR/Eg3+0RDH2LIqJH6BNRk10WLr4mzBKP7LQE5cqdQhCpz9RCzhqnVrkZ7R0OWKWwjQoDqa6Iji+9ruHXAN4U3HzzjQvsvtlRJEichIwlOdQAZy1mF4Py2h0evbLG8vvK0c3yJ1lhNjU6/7HHjoZYZvhroOdIIbUcq2LUFWZW6xg1MPfGklmHO80KNF1oVhJGlbkk6uU7G9dEoMsznxaVL3ZGUWWyCo1X/FbSgR53TAdAbDnwIGyAIWwOiydXgR9REIHXxtFN63O+dz4lgu1MFizVnd02txc/vxRMW7Oaz8t4a2EMKf3UeVUL18uaxvOcDZRtsgg2iJdCPuqUnDwWlU6MYW2a8gNm/j0NgxYLF9gcEAwFUKbEAeRqTerk9iX5V8xw0EE08uGckNYqHcDCpHK1iLmo9E5uFHJxIEFv/zM9CJYdLklL2Dk=
install:
- pip install awscli
before_script:
- echo "$AWS_ACCESS_KEY_ID"
- echo "$AWS_SECRET_ACCESS_KEY"
- make build
script:
- make run URL="https://google.com"
- make update URL="https://google.com"
- make update URL="1.1.1.1"
- make update URL="http://letmeoutofyour.net:8081/"
- make update URL="httpbin.org/anything/$(cat /dev/urandom | tr -dc 'a-zA-Z0-9' |
  fold -w 32 | head -n 1)"
- make update URL="httpbin.org/redirect/6"
- make update URL="https://httpbin.org/image/png"
- make update URL="https://httpbin.org/headers"
- make update URL="https://self-signed.badssl.com/"
- make update URL="https://expired.badssl.com/"
- make ua UA="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
  like Gecko) Chrome/70.0.3538.77 Safari/537.36"
- make ua UA="Mozilla/5.0 (Windows NT 6.1; WOW64; rv:64.0) Gecko/20100101 Firefox/64.0"
- make ua UA="curl/7.9.8 (i686-pc-linux-gnu) libcurl 7.9.8 (OpenSSL 0.9.6b) (ipv6
  enabled)"
- make ua UA="python-requests/1.2.0"
- make ua UA="Googlebot/2.1 (+http://www.googlebot.com/bot.html)"
- make ua UA="Screw you webmaster!!!!"
- make ua UA=""
- make run URL="" || echo "SAVED - Made to fail"
- make run URL="file:///etc/passwd" || echo "SAVED - Made to fail"
- make run URL="gibberish" || echo "SAVED - Made to fail"
- make run URL="mjnjvfidrilyenbbvjwisyzdpycppftjombbxqrtvkcpsbxdnllqupptmhancjqimgcpsfuhzjpdkiaibkcigwyrmaajjszyxvyjekbobdzluepicwnelaaljhkqzmqdupjbhercywvvomwzfszzeptaeaiofiohixlzfwjnlgvilyklivymuknqybunftprnvotjviimcttlyjqfhdefapbpzvzugghzaisdyrmebjurqtzbbheomgmentccdekijireporxxmvqneebbrfzhvgbydzmiaewpqopnxzdsrt"
  || echo "Made to fail"
before_deploy:
- make pack
deploy:
- provider: s3
  access_key_id: "$AWS_ACCESS_KEY_ID"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY"
  bucket: "$BUCKET_NAME"
  region: us-east-1
  upload_dir: "$TEST_FUNCTION_DIR"
  local_dir: dist/function
  skip_cleanup: true
  on:
    branch: build
- provider: s3
  access_key_id: "$AWS_ACCESS_KEY_ID"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY"
  bucket: "$BUCKET_NAME"
  region: us-east-1
  upload_dir: "$RUN_FUNCTION_DIR"
  local_dir: dist/function
  skip_cleanup: true
  on:
    branch: master
after_deploy:
- if [ $TRAVIS_BRANCH == "build" ]; then aws lambda update-function-code --function-name
  $TEST_FUNCTION_NAME --s3-bucket $BUCKET_NAME --s3-key $TEST_FUNCTION_DIR/build.zip;
  else echo "Skipping Lambda update for $TEST_FUNCTION_NAME."; fi
- if [ $TRAVIS_BRANCH == "master" ]; then aws lambda update-function-code --function-name
  $RUN_FUNCTION_NAME --s3-bucket $BUCKET_NAME --s3-key $RUN_FUNCTION_DIR/build.zip;
  else echo "Skipping Lambda update for $RUN_FUNCTION_NAME."; fi
notifications:
  slack:
    template:
    - Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of *%{repository_slug}*
      @ %{branch} %{result} in %{duration}
    rooms:
      secure: t5ThZ20j8M5RwvJQQYyN+0MYjqefgrv7OtdUYDpzpxCCB2o9lGTYmIuQrLRZY7BIA1SZS3nIiZvwudR41ibcjfF/Np5W0FntezLRmfpPCic4V8aG4F0iTINNJPK6+6KDHmKEylSjtB30lhp2Xa/4uXvrcHRbFct/+QDAD6WtjkKQvm1OFRFq7GVkWCHp5AyQRzaJaKGJ9OjWJAHaYxN+QTuubLW0PVjbeb/3b7qt3v/iqCngmynaan5xghy2P9RiMo9ll5aTSiSrtQC1s1o2uR4ISheZ5BJPT6yypemlxPUWMBe1t48JZXp2HQCm4yncgqlavwmeWffw/cN7vYYjuQeNhgWUYVI03PbbNvF/yX1a++PFtnL4Q1/6ZKo/xcQG74fVCmnVzdBQ9s3I4JybgRTyQyXpQbmRQRmZkQKojCtenycc8ShtkRyRN/H05yq1gmRd55qBxZb2rzaFmd+uKnM1NbQmPzhR7Dn1YRLPpFBFlOVYl7xlDi8ITpdxUJvjjjbgIkTn0UamYjdG1MjXWOFgi+qQfPnQ5vYWGNOxiGOQ7uGlD8pvatyzFJkPhMBSU3QNm5OB7hTlPJDwZCMmtvV+uO4itXU6dfPO1SZdtgshUi1hUNtuu7r1JsAtq7zGXaYjLhk7feNJ6z3oq6V8DVd7HQK+TkEUN6OghAFae20=
